@model dynamic
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <canvas id="renderCanvas"></canvas> *@
 <div class="text-center">
    <h1>Mi Página Web con Modelo 3D</h1>
    <iframe src="https://explorer.digitaltwins.azure.net/3DScenes?sceneId=50822592124b45909e26dbccb87b417e&selectedLayerIds=scene-layer-dropdown-unlayered-behaviors&mode=Viewer&adtUrl=https%3A%2F%2Fazuredt-01.api.eus.digitaltwins.azure.net&adtResourceId=%2Fsubscriptions%2Ff53222c6-a3cf-41d6-b599-d4e945877ea6%2FresourceGroups%2FNew-ADT-resource-group%2Fproviders%2FMicrosoft.DigitalTwins%2FdigitalTwinsInstances%2FAzureDT-01&storageUrl=https%3A%2F%2Fazustore07.blob.core.windows.net%2Fadt3dsce&tid=98201fef-d9f6-4e68-84f5-c2705074e342&response_type=token" frameborder="0" style="width: 100%; height: 600px;"></iframe>
    




</div>



@section Scripts {
    <script src="~/js/babylon-scene.js"></script>
}